h1 {
    text-align: center;
}
#poisk  {
    border: none;
    border-radius: 5px;
    width: 595px;
    height: 35px;
    position: relative;
    
}
.bright {
    background-color: white;
    color: black;
}
.darkt {
    background-color: rgb(26, 26, 26);
    color: #6C63FF;
}
.rest {
    display: flex;
    width: 100%;
    height: 38px;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1%;
}
select {
    background-color: #6C63FF;
    height: 38px;
    width: 85px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    padding-left: 1%;

  
}
#poisk::placeholder {
    font-size: larger;
    position: absolute;
    left: 4%;
    color: rgb(116, 116, 153);
    
}
/* #klick{
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #6C63FF;
    background-image: url("Vector.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 7px 5px;
} */
.klick-day {
  width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #6C63FF;
    background-image: url("Vector.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 7px 5px;
}
.klick-night {
  width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #6C63FF;
    background-image: url("sun.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 6px 5px;
}
#poisks {
 border: 1px,solid #6C63FF;
    width: 599px;
    height: 38px;
    position: relative;
        border-radius: 5px;
    
}
#poisks img {
   position: absolute;
   left: 95%;
   top: 19%;
   
}
.knop {
    float: right;
    width: 90%;
    height: 400px;
    display: flex;
    align-items: flex-end;
 


}
#open {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6C63FF;
    background-image: url("2.png");
    background-size: 80%;
    background-position: 5px;
    position: fixed;
    left: 90%;
    top: 90%;
    background-repeat: no-repeat;
    border: none;
}
.pust {
    height: 50px;
    width: 100%;
}
.bigi {
    display: flex;
    width: 100%;
    justify-content: center;
}
.oi {
  
    display: flex;
    height: 50px;
    width:62%;
justify-content: center;
   position: relative;
}
hr {
    width: 560px;
    height: 0;
    border: 1px solid #6C63FF;
}
.hre {
display: flex;
    height: 50px;
    width: 90%;
justify-content: center;
}
#note_list {
        display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
        
}
.note {
    /* position: absolute;
    top: -2%;
    left: 42%;  */
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #6C63FF;
    display: flex;
    flex-direction: column;
}
.note:checked {
    background-color: #6C63FF;
    background-image: url("Rectangle\ 18.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 1px 0px;


}
#note_list label {
    display: flex;
    position: relative;
    border-bottom: 1px solid #6C63FF;
    width: 100%;
}
.text {
   position: absolute;
   left: 4%;
}
.note:checked ~ .text {
    text-decoration: line-through;
    color: gray;
}
.textovoy {
    height: 300px;
    width: 80%;
    align-self: flex-end;
    background-color: #6C63FF;

}


 #closer {
   width: 120px;
    height: 50px;
    border-radius: 10px;
    background-size: 60%;
    background-position: 10px;
    margin-top: 50%;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: -20%;
    left: 10%;
    

 }
#temo {
    background-color: rgba(0, 0, 0, 0.492);
  
    height: 900px;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
 
}
#wind{
    height: 400px;
    width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 40px;
     display: none;
     position: fixed;
     top: 0%;
}
#poisk2 {
     border: 1px,solid #6C63FF;
    width: 599px;
    height: 38px;
        border-radius: 5px;
        position: absolute;
        top: 15%;
        right: 10%;

}
#poisk::placeholder {
    font-size: larger;
    color: rgb(116, 116, 153);
}
.nit {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 100%;
    height: 20px;
    color: black;
}
#add {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-size: 60%;
    background-position: 10px;
   background-color: #6C63FF;
    margin-top: 50%;
    border: none;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: -20%;
    left: 70%;
}
.darki {

     background-color: #343434;
      border: 1px solid white;
    
       height: 400px;
    width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 40px;
     display: none;
     position: relative; 
}
.white {
    background-color: #ffffff;
     height: 400px;
    width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 40px;
     display: none;
     position: relative; 
}
.darknit {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 100%;
    height: 20px;
    color: #6C63FF;
   
}
.closedark {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-size: 60%;
    background-position: 10px;
    margin-top: 50%;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: -20%;
    left: 10%;
    background-color: #343434;
}
.whiteclose {
       width: 120px;
    height: 50px;
    border-radius: 10px;
    background-size: 60%;
    background-position: 10px;
    margin-top: 50%;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: -20%;
    left: 10%;
}
.lightnit {
     font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 100%;
    height: 20px;
    color: black;
   
}

